In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn import metrics

In [13]:
tempIemisions = pd.read_csv("DataSetFinal.csv", index_col=0,na_values = ['no info', '.'])

         dt          Value         Country     Type  AverageTemperature  Mes
0      1990   62297.166000         Austria      Co2              -2.443    1
1      1990    4293.063000         Austria      N2O              -2.443    1
2      1990   10598.566000         Austria  Methane              -2.443    1
3      1990   63417.203939         Austria      Co2               2.713    2
4      1990    4342.948570         Austria      N2O               2.713    2
5      1990   10608.935464         Austria  Methane               2.713    2
6      1990   64354.776643         Austria      Co2               5.391    3
7      1990    4385.020950         Austria      N2O               5.391    3
8      1990   10614.433618         Austria  Methane               5.391    3
9      1990   65120.698769         Austria      Co2               5.462    4
10     1990    4419.699865         Austria      N2O               5.462    4
11     1990   10615.394522         Austria  Methane               5.462    4
12     1990   65725.784968         Austria      Co2              12.561    5
13     1990    4447.405043         Austria      N2O              12.561    5
14     1990   10612.152237         Austria  Methane              12.561    5
15     1990   66180.849897         Austria      Co2              14.199    6
16     1990    4468.556210         Austria      N2O              14.199    6
17     1990   10605.040823         Austria  Methane              14.199    6
18     1990   66496.708208         Austria      Co2              15.992    7
19     1990    4483.573093         Austria      N2O              15.992    7
20     1990   10594.394342         Austria  Methane              15.992    7
21     1990   66684.174557         Austria      Co2              16.846    8
22     1990    4492.875417         Austria      N2O              16.846    8
23     1990   10580.546853         Austria  Methane              16.846    8
24     1990   66754.063597         Austria      Co2              10.564    9
25     1990    4496.882909         Austria      N2O              10.564    9
26     1990   10563.832418         Austria  Methane              10.564    9
27     1990   66717.189983         Austria      Co2               8.224   10
28     1990    4496.015296         Austria      N2O               8.224   10
29     1990   10544.585098         Austria  Methane               8.224   10
...     ...            ...             ...      ...                 ...  ...
22326  2012  454978.033868  United Kingdom      Co2               8.098    3
22327  2012   20778.727789  United Kingdom      N2O               8.098    3
22328  2012   63087.491153  United Kingdom  Methane               8.098    3
22329  2012  453692.927463  United Kingdom      Co2               6.639    4
22330  2012   20712.567694  United Kingdom      N2O               6.639    4
22331  2012   62893.406557  United Kingdom  Methane               6.639    4
22332  2012  453293.338930  United Kingdom      Co2              10.574    5
22333  2012   20662.736677  United Kingdom      N2O              10.574    5
22334  2012   62692.779369  United Kingdom  Methane              10.574    5
22335  2012  453887.570298  United Kingdom      Co2              11.539    6
22336  2012   20631.528253  United Kingdom      N2O              11.539    6
22337  2012   62483.903845  United Kingdom  Methane              11.539    6
22338  2012  455583.923595  United Kingdom      Co2              13.750    7
22339  2012   20621.235938  United Kingdom      N2O              13.750    7
22340  2012   62265.074241  United Kingdom  Methane              13.750    7
22341  2012  458490.700849  United Kingdom      Co2              15.152    8
22342  2012   20634.153246  United Kingdom      N2O              15.152    8
22343  2012   62034.584814  United Kingdom  Methane              15.152    8
22344  2012  462716.204089  United Kingdom      Co2              12.055    9
22345  2012   20672.573691  United Kingdom      N2O              12.055    9
22346  2012   61790.729820  United Kingdom  Methane              12.055    9
22347  2012  468368.735341  United Kingdom      Co2               8.686   10
22348  2012   20738.790789  United Kingdom      N2O               8.686   10
22349  2012   61531.803516  United Kingdom  Methane               8.686   10
22350  2012  475556.596636  United Kingdom      Co2               6.601   11
22351  2012   20835.098053  United Kingdom      N2O               6.601   11
22352  2012   61256.100157  United Kingdom  Methane               6.601   11
22353  2012  484388.090000  United Kingdom      Co2               4.845   12
22354  2012   20963.789000  United Kingdom      N2O               4.845   12
22355  2012   60961.914000  United Kingdom  Methane               4.845   12

[22356 rows x 6 columns]

In [14]:
tempIemisions.describe()

                 dt         Value  AverageTemperature           Mes
count  22356.000000  2.235600e+04        22356.000000  22356.000000
mean    2001.000000  6.270248e+04            9.230230      6.832797
std        6.633398  1.379788e+05            9.537685      3.484143
min     1990.000000  6.148900e+01          -34.665000      1.000000
25%     1995.000000  5.287999e+03            3.819500      4.000000
50%     2001.000000  1.352975e+04           10.129500      7.000000
75%     2007.000000  5.538075e+04           16.188250     10.000000
max     2012.000000  1.052238e+06           28.916000     13.000000

In [19]:
#fem X totes les columnes menys temp i y nomes temp el axis=1 es per indicar
#que es una label de les columnes
X = tempIemisions.drop('AverageTemperature', axis=1)
y = tempIemisions['AverageTemperature']

#dividim el dataSet en test 20% i entrenament 80%
#el random_state es la llavor que s'utilitzar√† per randomitzar 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

#creem l'algorisme del arbre de decisions i l'entrenem
regressor = DecisionTreeRegressor()
regressor.fit(X_train,y_train)

ValueError: could not convert string to float: 'Methane'