In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn import metrics
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint as sp_randint 
from sklearn.tree import export_graphviz 
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydot

In [28]:
tempIemisions = pd.read_csv("DataSetFinal.csv", index_col=0)
dummiesCountry=pd.get_dummies(tempIemisions['Country'],drop_first=1)
tempIemisions=pd.concat([tempIemisions,dummiesCountry],axis=1)
tempIemisions=tempIemisions.drop(['Country'], axis=1)
print (tempIemisions)

      Data            CO2           N2O           CH4  AverageTemperature  \
0     1990   62297.166000   4293.063000  10598.566000              -2.443
1     1990   63417.203939   4342.948570  10608.935464               2.713
2     1990   64354.776643   4385.020950  10614.433618               5.391
3     1990   65120.698769   4419.699865  10615.394522               5.462
4     1990   65725.784968   4447.405043  10612.152237              12.561
5     1990   66180.849897   4468.556210  10605.040823              14.199
6     1990   66496.708208   4483.573093  10594.394342              15.992
7     1990   66684.174557   4492.875417  10580.546853              16.846
8     1990   66754.063597   4496.882909  10563.832418              10.564
9     1990   66717.189983   4496.015296  10544.585098               8.224
10    1990   66584.368368   4490.692305  10523.138952               2.021
11    1990   66366.413408   4481.333662  10499.828041              -3.402
12    1991   66074.139756   4468.359092  10474.986427              -2.544
13    1991   65718.362066   4452.188324  10448.948170              -4.620
14    1991   65309.894994   4433.241082  10422.047330               4.694
15    1991   64859.553192   4411.937095  10394.617968               5.313
16    1991   64378.151315   4388.696088  10366.994146               7.921
17    1991   63876.504017   4363.937787  10339.509922              13.791
18    1991   63365.425953   4338.081919  10312.499359              17.546
19    1991   62855.731777   4311.548211  10286.296517              16.674
20    1991   62358.236143   4284.756390  10261.235457              13.871
21    1991   61883.753705   4258.126181  10237.650238               6.061
22    1991   61443.099118   4232.077311  10215.874923               1.429
23    1991   61047.087035   4207.029506  10196.243571              -3.841
24    1992   60706.532111   4183.402494  10179.090243              -2.022
25    1992   60432.249000   4161.616000  10164.749000              -0.083
26    1992   60231.870283   4142.020682  10153.407904               2.713
27    1992   60100.300245   4124.690922  10144.671020               6.313
28    1992   60029.261100   4109.632033  10137.996415              12.666
29    1992   60010.475060   4096.849327  10132.842156              15.300
...    ...            ...           ...           ...                 ...
7422  2010  502738.094039  22068.024459  68188.225682              15.245
7423  2010  504818.568856  22117.029726  67786.361091              13.989
7424  2010  506429.730995  22155.900287  67402.546132              12.762
7425  2010  507409.479146  22180.460819  67038.249277               9.654
7426  2010  507595.712000  22186.536000  66694.939000               5.206
7427  2010  506871.395470  22171.028649  66373.554737               0.711
7428  2011  505299.764361  22135.154141  66072.919782               4.085
7429  2011  502989.120702  22081.205991  65791.328389               6.219
7430  2011  500047.766520  22011.477713  65527.074816               6.496
7431  2011  496584.003845  21928.262822  65278.453319              10.610
7432  2011  492706.134703  21833.854833  65043.758153              11.232
7433  2011  488522.461124  21730.547261  64821.283577              12.705
7434  2011  484141.285135  21620.633620  64609.323844              13.972
7435  2011  479670.908765  21506.407425  64406.173213              13.784
7436  2011  475219.634042  21390.162191  64210.125939              13.530
7437  2011  470895.762994  21274.191433  64019.476279              11.193
7438  2011  466807.597650  21160.788664  63832.518489               9.319
7439  2011  463063.440037  21052.247401  63647.546825               5.750
7440  2012  459771.592183  20950.861158  63462.855543               5.470
7441  2012  457040.356118  20858.923449  63276.738901               5.040
7442  2012  454978.033868  20778.727789  63087.491153               8.098
7443  2012  453692.927463  20712.567694  62893.406557               6.639
7444  2012  453293.338930  20662.736677  62692.779369              10.574
7445  2012  453887.570298  20631.528253  62483.903845              11.539
7446  2012  455583.923595  20621.235938  62265.074241              13.750
7447  2012  458490.700849  20634.153246  62034.584814              15.152
7448  2012  462716.204089  20672.573691  61790.729820              12.055
7449  2012  468368.735341  20738.790789  61531.803516               8.686
7450  2012  475556.596636  20835.098053  61256.100157               6.601
7451  2012  484388.090000  20963.789000  60961.914000               4.845

      Mes  Belgium  Bulgaria  Croatia  Czech Republic       ...        Malta  \
0       1        0         0        0               0       ...            0
1       2        0         0        0               0       ...            0
2       3        0         0        0               0       ...            0
3       4        0         0        0               0       ...            0
4       5        0         0        0               0       ...            0
5       6        0         0        0               0       ...            0
6       7        0         0        0               0       ...            0
7       8        0         0        0               0       ...            0
8       9        0         0        0               0       ...            0
9      10        0         0        0               0       ...            0
10     11        0         0        0               0       ...            0
11     12        0         0        0               0       ...            0
12      1        0         0        0               0       ...            0
13      2        0         0        0               0       ...            0
14      3        0         0        0               0       ...            0
15      4        0         0        0               0       ...            0
16      5        0         0        0               0       ...            0
17      6        0         0        0               0       ...            0
18      7        0         0        0               0       ...            0
19      8        0         0        0               0       ...            0
20      9        0         0        0               0       ...            0
21     10        0         0        0               0       ...            0
22     11        0         0        0               0       ...            0
23     12        0         0        0               0       ...            0
24      1        0         0        0               0       ...            0
25      2        0         0        0               0       ...            0
26      3        0         0        0               0       ...            0
27      4        0         0        0               0       ...            0
28      5        0         0        0               0       ...            0
29      6        0         0        0               0       ...            0
...   ...      ...       ...      ...             ...       ...          ...
7422    7        0         0        0               0       ...            0
7423    8        0         0        0               0       ...            0
7424    9        0         0        0               0       ...            0
7425   10        0         0        0               0       ...            0
7426   11        0         0        0               0       ...            0
7427   12        0         0        0               0       ...            0
7428    1        0         0        0               0       ...            0
7429    2        0         0        0               0       ...            0
7430    3        0         0        0               0       ...            0
7431    4        0         0        0               0       ...            0
7432    5        0         0        0               0       ...            0
7433    6        0         0        0               0       ...            0
7434    7        0         0        0               0       ...            0
7435    8        0         0        0               0       ...            0
7436    9        0         0        0               0       ...            0
7437   10        0         0        0               0       ...            0
7438   11        0         0        0               0       ...            0
7439   12        0         0        0               0       ...            0
7440    1        0         0        0               0       ...            0
7441    2        0         0        0               0       ...            0
7442    3        0         0        0               0       ...            0
7443    4        0         0        0               0       ...            0
7444    5        0         0        0               0       ...            0
7445    6        0         0        0               0       ...            0
7446    7        0         0        0               0       ...            0
7447    8        0         0        0               0       ...            0
7448    9        0         0        0               0       ...            0
7449   10        0         0        0               0       ...            0
7450   11        0         0        0               0       ...            0
7451   12        0         0        0               0       ...            0

      Netherlands  Poland  Portugal  Romania  Slovakia  Slovenia  Spain  \
0               0       0         0        0         0         0      0
1               0       0         0        0         0         0      0
2               0       0         0        0         0         0      0
3               0       0         0        0         0         0      0
4               0       0         0        0         0         0      0
5               0       0         0        0         0         0      0
6               0       0         0        0         0         0      0
7               0       0         0        0         0         0      0
8               0       0         0        0         0         0      0
9               0       0         0        0         0         0      0
10              0       0         0        0         0         0      0
11              0       0         0        0         0         0      0
12              0       0         0        0         0         0      0
13              0       0         0        0         0         0      0
14              0       0         0        0         0         0      0
15              0       0         0        0         0         0      0
16              0       0         0        0         0         0      0
17              0       0         0        0         0         0      0
18              0       0         0        0         0         0      0
19              0       0         0        0         0         0      0
20              0       0         0        0         0         0      0
21              0       0         0        0         0         0      0
22              0       0         0        0         0         0      0
23              0       0         0        0         0         0      0
24              0       0         0        0         0         0      0
25              0       0         0        0         0         0      0
26              0       0         0        0         0         0      0
27              0       0         0        0         0         0      0
28              0       0         0        0         0         0      0
29              0       0         0        0         0         0      0
...           ...     ...       ...      ...       ...       ...    ...
7422            0       0         0        0         0         0      0
7423            0       0         0        0         0         0      0
7424            0       0         0        0         0         0      0
7425            0       0         0        0         0         0      0
7426            0       0         0        0         0         0      0
7427            0       0         0        0         0         0      0
7428            0       0         0        0         0         0      0
7429            0       0         0        0         0         0      0
7430            0       0         0        0         0         0      0
7431            0       0         0        0         0         0      0
7432            0       0         0        0         0         0      0
7433            0       0         0        0         0         0      0
7434            0       0         0        0         0         0      0
7435            0       0         0        0         0         0      0
7436            0       0         0        0         0         0      0
7437            0       0         0        0         0         0      0
7438            0       0         0        0         0         0      0
7439            0       0         0        0         0         0      0
7440            0       0         0        0         0         0      0
7441            0       0         0        0         0         0      0
7442            0       0         0        0         0         0      0
7443            0       0         0        0         0         0      0
7444            0       0         0        0         0         0      0
7445            0       0         0        0         0         0      0
7446            0       0         0        0         0         0      0
7447            0       0         0        0         0         0      0
7448            0       0         0        0         0         0      0
7449            0       0         0        0         0         0      0
7450            0       0         0        0         0         0      0
7451            0       0         0        0         0         0      0

      Sweden  United Kingdom
0          0               0
1          0               0
2          0               0
3          0               0
4          0               0
5          0               0
6          0               0
7          0               0
8          0               0
9          0               0
10         0               0
11         0               0
12         0               0
13         0               0
14         0               0
15         0               0
16         0               0
17         0               0
18         0               0
19         0               0
20         0               0
21         0               0
22         0               0
23         0               0
24         0               0
25         0               0
26         0               0
27         0               0
28         0               0
29         0               0
...      ...             ...
7422       0               1
7423       0               1
7424       0               1
7425       0               1
7426       0               1
7427       0               1
7428       0               1
7429       0               1
7430       0               1
7431       0               1
7432       0               1
7433       0               1
7434       0               1
7435       0               1
7436       0               1
7437       0               1
7438       0               1
7439       0               1
7440       0               1
7441       0               1
7442       0               1
7443       0               1
7444       0               1
7445       0               1
7446       0               1
7447       0               1
7448       0               1
7449       0               1
7450       0               1
7451       0               1

[7452 rows x 32 columns]

In [24]:
tempIemisions.describe()

,Data,CO2,N2O,CH4,AverageTemperature,Mes,Belgium,Bulgaria,Croatia,Czech Republic,...,Poland,Portugal,Romania,Slovakia,Slovenia,Spain,Sweden,United Kingdom,CO2,N2O
count,7452.000000,7.452000e+03,7452.000000,7452.000000,7452.000000,7452.000000,7452.000000,7452.000000,7452.000000,7452.000000,...,7452.000000,7452.000000,7452.000000,7452.000000,7452.000000,7452.000000,7452.000000,7452.000000,22356.000000,22356.000000
mean,2001.000000,1.547100e+05,11382.075270,22015.402480,9.230230,6.500000,0.037037,0.037037,0.037037,0.037037,...,0.037037,0.037037,0.037037,0.037037,0.037037,0.037037,0.037037,0.037037,0.333333,0.333333
std,6.633695,2.082486e+05,14562.113894,27995.310075,9.538112,3.452284,0.188865,0.188865,0.188865,0.188865,...,0.188865,0.188865,0.188865,0.188865,0.188865,0.188865,0.188865,0.188865,0.471415,0.471415
min,1990.000000,1.860474e+03,61.489000,78.278000,-34.665000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1995.000000,2.402169e+04,3256.579892,4373.459152,3.819500,3.750000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2001.000000,6.120448e+04,5789.712829,9679.468235,10.129500,6.500000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2007.000000,1.715684e+05,13678.843035,32246.275578,16.188250,9.250000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,2012.000000,1.052238e+06,71115.221787,138260.335239,28.916000,12.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [29]:
#fem X totes les columnes menys temp i y nomes temp el axis=1 es per indicar
#que es una label de les columnes
X = tempIemisions.drop('AverageTemperature', axis=1)
y = tempIemisions['AverageTemperature']

#dividim el dataSet en test 20% i entrenament 80%
#el random_state es la llavor que s'utilitzarà per randomitzar 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)
#creem l'algorisme del arbre de decisions i l'entrenem
regressor = DecisionTreeRegressor()
regressor.fit(X_train,y_train)

#fem les prediccions
y_pred = regressor.predict(X_test)
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})  
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
comparacio=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
print (comparacio)

Mean Absolute Error: 1.665148893360161
Mean Squared Error: 5.103142935613683
Root Mean Squared Error: 2.2590137085935718
      Actual  Predicted
6549  12.831     11.069
1737   6.847      4.497
595   21.939     22.608
793    2.101      6.176
3612   4.824      5.721
2786   8.855      8.470
4726  18.706     18.031
3535  15.300     17.122
3567  11.100      9.765
6184  13.177     16.130
2328   6.820      7.974
7051  17.054     14.711
6891  11.121     15.336
2362  11.783      9.202
955   23.640     23.717
2746   4.611      5.220
4805  24.936     25.146
7433  12.705     14.049
88    12.270     12.106
4077   6.785      8.267
5660  20.295     20.261
4332  -7.296     -0.583
1160  14.623     12.682
5403   7.381      8.598
497   16.508     17.605
761   21.941     20.554
2126  -9.870     -4.387
179   -2.043     -0.032
4257   7.049      6.514
128   12.455     16.030
...      ...        ...
6746  10.986     12.581
2898  26.179     26.076
2261  18.445     17.571
4229  16.217     15.143
1998  13.972     15.676
3571  14.066     14.526
4692  13.702     12.468
5277   5.979      8.268
647    1.690      2.506
2206  -0.774      0.964
6381   9.710      9.137
4569   9.980      7.433
1317   7.668      5.484
7168   7.710      9.155
3005  22.946     24.049
622    3.051      5.767
6303  11.843     10.837
4780  20.263     19.455
4949  23.028     23.694
1666   0.582     -1.227
4678   7.183      5.340
6391  20.750     23.317
6065  20.872     19.226
3938  -3.307      1.622
1343  -0.729     -4.660
1912  11.117     11.796
2927   7.301      7.395
3954  18.698     18.723
6818  11.077     10.180
2118  17.249     15.145

[1491 rows x 2 columns]

In [30]:
dot_data = StringIO()

export_graphviz(regressor, out_file='regressor.dot',  
                filled=True, rounded=True,
                special_characters=True)
(graph,) = pydot.graph_from_dot_file('regressor.dot')
graph.write_png('regressor.png')

In [ ]:
parameters = {'max_depth':range(10, 30, 3), 
              'min_samples_split':range(2,70,3),
              'min_samples_leaf':range(2,70,3)}
scoring = 'neg_mean_absolute_error'
regressor1 = DecisionTreeRegressor()
gscv=GridSearchCV(regressor1,parameters,scoring)
gscv.fit(X_train,y_train)
print('Millor combinacio:', gscv.best_params_)
y_pred = gscv.predict(X_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

In [19]:
dot_data = StringIO()

export_graphviz(gscv, out_file='regressorGS.dot',  
                filled=True, rounded=True,
                special_characters=True)
(graph,) = pydot.graph_from_dot_file('regressorGS.dot')
graph.write_png('regressorGS.png')

NameError: name 'gscv' is not defined

In [22]:
parameters = {'max_depth':[5,10,15,20,25,30,35], 
              'min_samples_split':sp_randint(2, 150),
              'min_samples_leaf':sp_randint(2, 150)}
scoring = 'neg_mean_absolute_error'
n_iter=100
regressor2 = DecisionTreeRegressor()
rscv=RandomizedSearchCV(regressor2,parameters,n_iter,scoring)
rscv.fit(X_train,y_train)
print('Millor combinacio:', rscv.best_params_)
y_pred = rscv.predict(X_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Millor combinacio: {'max_depth': 20, 'min_samples_leaf': 10, 'min_samples_split': 28}
Mean Absolute Error: 1.1961516440095525
Mean Squared Error: 2.5948032398092025
Root Mean Squared Error: 1.6108392967050444